<%- include('../partials/header.ejs') %>

<h1>NBA PROSPECTS LIST</h1>
    <% if (prospects.length > 0) { %>
     <ul class="prospect-list">
       <% prospects.forEach(prospect => { %>
         <li class="prospect-card" style="list-style-type: none;">
          <div class="prospect-thumbnail">
            <img class="thumbnail" src="<%= prospect.image %>" alt="<%= prospect.name %>">
            <a class="prospect-name" href="/prospects/<%= prospect._id %>"><%= prospect.name %></a>
          </div>

           <% if (typeof boardId !== 'undefined' && boardId !== null) { %>
            <form action="/boards/<%= boardId %>/prospects" method="POST">
              <input type="hidden" name="prospectId" value="<%= prospect._id %>">
              <button type="submit">Add to This Board</button>
            </form>
          <% } else { %>
            <a href="/prospects/<%= prospect._id %>">View</a>
            <% } %>
         </li>
       <% }) %>
     </ul>
   <% } else { %>
     <p>There Are No NBA Prospects...yet</p>
   <% } %>
   <div class="add-prospect-container">
    <a href="/prospects/new" class="add-prospect-btn">➕ Add New NBA Prospect</a>
  </div>
  


<%- include('../partials/footer.ejs') %>