<%- include('../partials/header.ejs') %>

<div class="action-buttons">
  <a href="/prospects" class="action-btn">← Return to All NBA Prospects</a>
</div>

<div class="prospect-profile">
  <img
    class="prospect-profile-img"
    src="<%= prospect.image %>"
    alt="Prospect Image"
  />
  <h1><%= prospect.name %></h1>

  <p><strong><%= prospect.age %>yrs <%= prospect.origin %></strong></p>

  <p>
    <strong>
      <%= prospect.height %>ft, <%= prospect.weight %>lbs, Wingspan of
      <%=prospect.wingspan %>ft
    </strong>
  </p>

  <h3><%= prospect.team %> <%= prospect.position %></h3>

  <h4><strong>Description:</strong></h4>
  <div class="prospect-description"><%= prospect.description %></div>

  <% if (user && user._id.toString() === prospect.createdBy._id.toString()) { %>
  <a href="/prospects/<%= prospect._id %>/edit">Edit Player</a>
  <form action="/prospects/<%= prospect._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete Player</button>
  </form>
  <% } %> <% if (user && boards.length > 0) { %> <% boards.forEach(board => { %>
  <form action="/boards/<%= board._id %>/prospects" method="POST">
    <input type="hidden" name="prospectId" value="<%= prospect._id %>" />
    <button type="submit">
      Add <%= prospect.name %> to "<%= board.title %>"
    </button>
  </form>
  <% }) %> <% } else if (user) { %>
  <p>You don't have any boards yet. <a href="/boards/new">Create one</a></p>
  <% } else { %>
  <p>
    <a href="/sign-in">Log in</a> to add this prospect to one of your boards.
  </p>
  <% } %>
</div>

<%- include('../partials/footer.ejs') %>
