<%- include('../partials/header.ejs') %>
<h1>Edit Board</h1>
<% if (user._id.toString()===board.createdBy._id.toString()) { %>
  <form action="/boards/<%= board._id %>?_method=PUT" method="POST">
    <div>
      <label for="title">Board Title:</label>
      <input type="text" id="title" name="title" value="<%= board.title %>" required />
    </div>
     <div>
      <label for="evaluation">Evaluation:</label><br>
      <textarea id="evaluation" name="evaluation" rows="5" cols="50"><%= board.evaluation || '' %></textarea>
    </div>
     <h3>Current Prospects</h3>
     <% if (board.prospects.length > 0) { %>
       <ul>
         <% board.prospects.forEach(prospect => { %>
           <li>
             <label>
               <input type="checkbox" name="existingProspects" value="<%= prospect._id %>" checked />
               <%= prospect.name %> (<%= prospect.position %> - <%= prospect.team %>)
             </label>
           </li>
         <% }) %>
       </ul>
     <% } else { %>
       <p>No prospects currently added.</p>
     <% } %>
    <h3>Add a New Prospect</h3>
    <label for="newProspect">Select Prospect to Add:</label>
    <select name="newProspect" id="newProspect">
      <option value="">-- Select --</option>
      <% prospects.forEach(prospect => { %>
        <% if (!board.prospects.find(p => p._id.toString() === prospect._id.toString())) { %>
          <option value="<%= prospect._id %>"><%= prospect.name %> - <%= prospect.position %></option>
        <% } %>
      <% }) %>
    </select>
    <div style="margin-top: 1em;">
      <button type="submit">Update Board</button>
    </div>
  </form>
<% } else { %>
  <p>You do not have permission to edit this board.</p>
<% } %>

<%- include('../partials/footer.ejs') %>