<%- include('../partials/header.ejs') %>
<% if (board.prospects && board.prospects.length > 0) { %>
 <ul>
   <% board.prospects.forEach(prospect => { %>
     <li>
       <img src="<%= prospect.image %>" alt="<%= prospect.name %>" style="width: 100px; height: auto;" />
       <strong><%= prospect.name %></strong> - <%= prospect.position %> from <%= prospect.team %>
     </li>
   <% }) %>
 </ul>
<% } else { %>
 <p>No prospects on this board yet.</p>
<% } %>

  <% if (user._id.toString() === board.createdBy._id.toString()) { %>
   <form action="/boards/<%= board._id %>/prospects" method="POST"></form>
   <label for="prospects">Select Prospect for Board</label>
   <select name="prospects" id="prospects">
    <% prospects.forEach(prospect=> { %>
     <option value="<%= prospect._id%>" <%=prospect.name %>>
      <span>
       <%= prospect.name %>
      </span>
     </option>
     <%})%>
   </select>
   <button type="submit">Add Player to Board</button> <!-- put lines 12-23 in edit.ejs make sure to copy lines 11 and 28 as well-->
   <a href="/boards/<%= board._id %>/edit">Edit Board</a>
   <form action="/boards/<%= board._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete Board</button>
   </form>
   <% } %>









    <%- include('../partials/footer.ejs') %>